@if (book$ | async; as book) {
<div class="details">
  <h1>{{ book.title }}</h1>
  @if (book.subtitle) {
  <p role="doc-subtitle">{{ book.subtitle }}</p>
  }
  <div class="header">
    <div>
      <h2>Authors</h2>
      <ul>
        @for (author of book.authors; track author) {
        <li>{{ author }}</li>
        }
      </ul>
    </div>
    <div>
      <h2>ISBN</h2>
      {{ book.isbn | isbn }}
    </div>
    @if (book.published) {
    <div>
      <h2>Published</h2>
      {{ book.published | date:'longDate' }}
    </div>
    }
  </div>
  <h2>Description</h2>
  <p>{{ book.description }}</p>
  @if (book.thumbnailUrl) {
  <img alt="Cover" [ngSrc]="book.thumbnailUrl" width="200" height="250" priority>
  }
  <a class="button arrow-left" routerLink="..">Back to list</a>
  <ng-container *bmLoggedinOnly>
    <button class="red" bmConfirm="Remove book?" (confirm)="removeBook(book.isbn)">
      Remove book
    </button>
    <a class="button"
      [routerLink]="['/admin/edit', book.isbn]">
      Edit book
    </a>
  </ng-container>
</div>
}
